{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
    </script>
    <link href="{% static 'external/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'internal/css/main.css' %}" rel="stylesheet">
    <script src="{% static 'external/js/bootstrap.js' %}"></script>
    <script src="{% static 'external/js/jquery.js' %}"></script>
    {% block scripts %}

    {% endblock %}
</head>
<body>
    <header class="header">
        <div class="row row-cols-2 p-3 pe-auto">
            <div class="logo-container">
                <img src="{% static 'img/logo.png' %}" width="70" height="60"/>
                <h2 class="mt-2 green-text">
                    ДВГУПС
                </h2>
            </div>
            {% if not request.user.is_anonymous %}
                <div class="row row-cols-auto text-end mt-2 justify-content-end">
                    <p class="mt-1 h2 green-text">{{ request.user.username }}</p>
                    <button class="w-25 btn btn-success" onclick="window.location.href='{% url 'logout' %}'">Выход</button>
                </div>
            {% endif %}
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}
                <div class="text-center bg-white m-0 full-height">
                    <div class="row m-0">
                        <div class="mt-5 border-bottom pb-5">
                            <h1>
                                Пройти тест
                            </h1>
                        </div>
                        <div class="mt-5 border-bottom">
                            <h2>
                                ШКАЛА ПСИХОЛОГИЧЕСКОГО СТРЕССА PSM-25
                            </h2>
                            <button onclick="window.location.href = '{% url 'psm25' %}'"
                                    type="button" class="btn btn-success w-25 mb-3">Пройти</button>
                        </div>
                        <div class="mt-5 border-bottom">
                            <h2>
                                СКЛОННОСТЬ К РАЗВИТИЮ СТРЕССА
                            </h2>
                            <button onclick="window.location.href = '{% url 'tailor' %}'"
                                    type="button" class="btn btn-success w-25 mb-3">Пройти</button>
                        </div>
                        <div class="mt-5 border-bottom">
                            <h2>
                                ПСИХОЛОГИЧЕСКОЕ ВЫГОРАНИЕ
                            </h2>
                            <button onclick="window.location.href = '{% url 'emotional-burnout' %}'"
                                    type="button" class="btn btn-success w-25 mb-3">Пройти</button>
                        </div>
                    </div>

                </div>

            {% endblock %}
        </div>
    </main>
    <footer class="align-content-center">
        <h1 class="w-100">
            ПСИХОЛОГИЧЕСКИЙ ЦЕНТР ДВГУПС 2021
        </h1>
    </footer>
</body>
</html>