{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
    </script>
    <link href="{% static 'external/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'internal/css/main.css' %}" rel="stylesheet">
    <script src="{% static 'external/js/bootstrap.js' %}"></script>
    <script src="{% static 'external/js/jquery.js' %}"></script>
    {% block scripts %}

    {% endblock %}
</head>
<body>
    <header class="header">
        <div class="row row-cols-2 p-3 pe-auto">
            <div class="logo-container">
                <img src="{% static 'img/logo.png' %}" width="70" height="60"/>
                <h2 class="mt-2 green-text">
                    ДВГУПС
                </h2>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        <a href="{% url 'psm25' %}">PSM25</a>
        <a href="{% url 'tailor' %}">Tailor</a>
        <a href="{% url 'emotional-burnout' %}">Burnout</a>
    {% endblock %}
    </main>
    <footer class="align-content-center">
        <h1 class="w-100">
            ПСИХОЛОГИЧЕСКИЙ ЦЕНТР ДВГУПС 2021
        </h1>
    </footer>
</body>
</html>